{{#each erros}}
    <div class="alert alert-danger">{{texto}}</div>
{{else}}

{{/each}}

<h3>Editar projeto</h3>
<div class="card">
    <div class="card-body">
    <form action="/admin/projetos/edit" method="POST">
        <input type="hidden" name="id" value="{{projeto._id}}">
        <label for="nome">Nome: </label>
            <input type="text" id="nome" name="nome" placeholder="Nome do projeto" class="form-control" value="{{projeto.nome}}">  
            <br>
        {{!-- funcionario responsavel ou que participou no projeto --}}
        <label for="funcionario">Funcionario: </label>
            <select name="funcionario" class="form-control">
                {{#each funcionarios}}
                    <option value="{{_id}}">{{name}}</option>
                {{else}}
                    <option value="0">Nenhum funcionario registrado!</option>
                {{/each }}
        </select>
        <br>
        <button type="submit" class="btn btn-success">Editar projeto</button>
    </form>
    </div>
</div>



