<h2>Lista de projetos</h2>
<hr>
<a href="/admin/projetos/add"><button class="btn btn-success">Novo projeto</button></a>

{{#each projetos}}
    <div class="card mt-4">
        <div class="card-body">
            
            <h4>Nome: {{nome}}</h4>
            <small>Data de criacao: {{date}}</small><br>
            <br>
            <h5>Funcionario: {{funcionario.name}}</h5>
            <a href="/admin/projetos/edit/{{_id}}"><button class="btn btn-success mt-4">Editar projeto</button></a><br>

            <form action="/admin/projetos/deletar" method="POST">
                <input type="hidden" name="id" value="{{_id}}">
                <button type="submit" class="btn btn-danger mt-2">Deletar projeto</button>
            </form>
        </div>
    </div>
{{else}}
    <h4 class="mt-3">Nenhum projeto registrado</h4>
{{/each}}

